In [9]:
import pandas as pd
df=pd.read_excel('20190915长沙.xls')
df

        0       1      2      3       4
0    海南航空  HU7135  18:05  20:30     90%
1    南方航空  CZ3164  18:05  20:45     83%
2    中国国航  CA1349  19:25  22:00     93%
3    南方航空  CZ5058  22:10  00:40     90%
4    厦门航空  MF8148  22:10  00:40     90%
..    ...     ...    ...    ...     ...
120  南方航空  CZ6599  19:50  20:40  90.00%
121  幸福航空  JR1626  20:55  22:05  70.00%
122  海南航空  HU7558  18:45  20:10     70%
123  东方航空  MU2966  20:45  22:10     47%
124  吉祥航空  HO1706  19:25  20:55     93%

[125 rows x 5 columns]

In [10]:

df.to_excel('20190915上海(查重后).xls')

KeyError: Index(['2', '3', '4'], dtype='object')