In [3]:
import pandas as pd
new = pd.DataFrame()

In [4]:
a=[]
for i in range(1,4):
    for j in range(1,32):
        if i==2 and j==29:
            break
        if i==3 and j==32:
            break
        df=pd.read_excel(str(i)+'.'+str(j)+'.xls')
        n,_=df.shape
        #date=df.iloc[n-1].argmax()
        value=df.iloc[n-1].max()
        date=-1
        for k in range(5,29):
            if value==df.iloc[n-1,k]:
                date=k-5
                break
        a.append([date,value])
print(a)

[[11, 485], [12, 619], [11, 478], [14, 547], [11, 708], [12, 624], [14, 553], [11, 465], [12, 634], [11, 728], [14, 709], [11, 755], [6, 608], [11, 583], [11, 674], [13, 610], [11, 550], [14, 717], [11, 751], [11, 760], [11, 555], [11, 638], [12, 681], [11, 610], [17, 568], [11, 741], [11, 629], [11, 481], [11, 567], [12, 634], [11, 683], [11, 800], [11, 803], [11, 853], [11, 710], [11, 731], [11, 752], [11, 836], [11, 679], [11, 763], [12, 904], [11, 752], [11, 857], [12, 762], [11, 752], [11, 617], [11, 583], [11, 832], [11, 576], [11, 759], [12, 811], [11, 761], [12, 734], [11, 816], [11, 915], [11, 721], [11, 779], [11, 783], [11, 817], [11, 691], [11, 764], [11, 937], [11, 716], [11, 635], [12, 860], [11, 669], [12, 627], [11, 674], [11, 854], [11, 609], [11, 854], [11, 769], [11, 783], [11, 706], [11, 909], [11, 778], [11, 628], [11, 869], [11, 775], [11, 812], [12, 715], [11, 851], [11, 785], [10, 767], [11, 703], [10, 873], [10, 903], [10, 808], [10, 813], [10, 965]]

In [5]:
df=pd.DataFrame(a)
df

     0    1
0   11  485
1   12  619
2   11  478
3   14  547
4   11  708
5   12  624
6   14  553
7   11  465
8   12  634
9   11  728
10  14  709
11  11  755
12   6  608
13  11  583
14  11  674
15  13  610
16  11  550
17  14  717
18  11  751
19  11  760
20  11  555
21  11  638
22  12  681
23  11  610
24  17  568
25  11  741
26  11  629
27  11  481
28  11  567
29  12  634
..  ..  ...
60  11  764
61  11  937
62  11  716
63  11  635
64  12  860
65  11  669
66  12  627
67  11  674
68  11  854
69  11  609
70  11  854
71  11  769
72  11  783
73  11  706
74  11  909
75  11  778
76  11  628
77  11  869
78  11  775
79  11  812
80  12  715
81  11  851
82  11  785
83  10  767
84  11  703
85  10  873
86  10  903
87  10  808
88  10  813
89  10  965

[90 rows x 2 columns]

In [6]:
df.to_csv('数据1_4.csv',index=False)